<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics Dashboard</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='base_styles.css') }}">

</head>


<body>

    <header
        style="background-image: URL(https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1); background-repeat: no-repeat; background-size: cover;">
        <h1>Olympics Dashboard</h1>
    </header>
    <div class="main_content1">
        <nav>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li><a href="/">Home</a></li>
                <li><a href="/medal_tally">Medal Tally</a></li>
                <li><a href="/overall_analysis">Overall Analysis</a></li>
                <li><a href="/most_successful">Most Successful</a></li>
                <li><a href="countryWise">CountryWise</a></li>
            </div>
            <span class="menu_icon" onclick="openNav()">&#9776;</span> <!-- Menu Icon (hamburger) -->
        </nav>

        <div id="main_content_index" class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById('main_content_index').style.marginLeft = "250px";

        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById('main_content_index').style.marginLeft = "0";
        }
    </script>


</body>

</html>