{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='medal_tally_styles.css') }}">


<div id="content-container" class="container">
    <h1>Medal Tally</h1>
    <form id="optionsForm" onsubmit="submitForm(event)">
        <div id="year_list_medal">
            <label for="year">Select Year:</label>
            <input autocomplete="off" list="browsers" id="year" placeholder="Overall" name="browsers" required>

            <datalist id="browsers">
                {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div id="country_list_medal">
            <label for="country">Select Country:</label>
            <input autocomplete="off" list="browserss" id="country" placeholder="Overall" name="browserss" required>
            <datalist id="browserss">

                <!-- <select name="country" id="country"> -->
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
                <!-- </select> -->
            </datalist>

        </div>

        <button type="submit">Submit</button>
    </form>

    <!-- Data Table -->
    <div id="table-container">
        {{ table|safe }} <!-- This will load the default table -->
    </div>
</div>



<script>
    function submitForm(event) {
        event.preventDefault();
        const year = document.getElementById('year').value;
        const country = document.getElementById('country').value;

        fetch('/overall_analysis_submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ year, country })
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById('table-container').innerHTML = data.data;
            });
    }
</script>
{% endblock %}